$primarycolor: #fee0d2;
$secundaryColor: #fcfcfc;
$terciaryColor: #675c5c;
$shadowColor: #ccc;
$textColor: #fff;
$black: #000;
$modalClose: #ff4949;
$registerButton: #eb9973;
$editButton: #54cf8b;
$deleteButton: #ea2929;
$principalFont: "Cookie", cursive;
$secondaryFont: "Poppins", sans-serif;
